.title {
    margin-top: 32px;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: italic;
}
@media screen and (min-width: 600px) {
    .logo {
        margin-top: 86px;
        width: 600px;
    }
}
