.title {
    margin-top: 24px;
    text-align: center;
    font-size: 26px;
    font-weight: 700;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: italic;
    color: #211194;
}
@media screen and (min-width: 768px) {
    .title {
        font-size: 32px;
    }
}

.wrapData {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4px;
    margin-top: 16px;
}
@media screen and (min-width: 768px) {
    .wrapData {
        flex-direction: row;
        justify-content: flex-start;
        gap: 10px;
    }
}

.text {
    font-size: 18px;
    font-weight: 500;
}
@media screen and (min-width: 768px) {
    .text {
        font-size: 20px;
    }
}

.span {
    font-size: 16px;
    font-weight: 500;
    color: #f57f04;
}
@media screen and (min-width: 768px) {
    .span {
        font-size: 18px;
    }
}

.rating {
    color: #1a887b;
    font-size: 16px;
}
@media screen and (min-width: 768px) {
    .rating {
        font-size: 18px;
    }
}
@media screen and (min-width: 1024px) {
    .rating {
        font-size: 20px;
    }
}

.wrapContent {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: 20px;
}
@media screen and (min-width: 768px) {
    .wrapContent {
        flex-direction: row;
    }
}

.image {
    border-radius: 8px;
    border: 1px solid #1a887b;
}
@media screen and (min-width: 768px) {
    .image {
        max-width: 320px;
    }
}

.wrapText {
    display: flex;
    flex-direction: column;
}
@media screen and (min-width: 768px) {
    .wrapText {
        margin-left: 10px;
    }
}

.wrapCount {
    display: flex;
    justify-content: space-between;
}
@media screen and (min-width: 768px) {
    .wrapCount {
        justify-content: flex-start;
        gap: 8px;
    }
}

.listSkills {
    display: flex;
    gap: 4px;
}

.wrapLessons {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 20px;
}

.videoLessons {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
@media screen and (min-width: 768px) {
    .videoLessons {
        flex-direction: row;
    }
}

.titleLesson {
    font-size: 20px;
    font-weight: 500;
    color: #211194;
}
@media screen and (min-width: 768px) {
    .titleLesson {
        font-size: 24px;
    }
}

.titleListLesson {
    font-size: 16px;
    font-weight: 500;
}

.listLesson {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.lessons {
    background-color: rgba(26, 136, 123, 0.1);
    padding: 4px;
    border: 1px solid #1a887b;
    border-radius: 8px;
}
@media screen and (min-width: 768px) {
    .lessons {
        min-width: 280px;
    }
}
@media screen and (min-width: 1024px) {
    .lessons {
        min-width: 450px;
    }
}

.dataLesson {
    display: flex;
    justify-content: space-between;
}
