.wrap {
    position: absolute;
}

.input {
    margin-top: 32px;
    padding: 16px 16px 16px 48px;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    font-family: "Roboto";
    font-size: 16px;
}
@media screen and (min-width: 900px) {
    .input {
        margin-top: 16px;
    }
}

.icon {
    position: relative;
    top: -36px;
    right: -16px;
}
