.wrapList {
    margin-top: 32px;
    display: grid;
    gap: 20px;
}
@media screen and (min-width: 768px) {
    .wrapList {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}
@media screen and (min-width: 1024px) {
    .wrapList {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}
