.wrapCard {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    width: 312px;
    /* height: 308px; */
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.12),
        0px 2px 4px rgba(0, 0, 0, 0.14);
    border-radius: 4px;
}

.wrapTitle {
    display: flex;
    flex-direction: column;
    padding: 12px 16px;
}
